# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.LogBuffer.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\admin\RiderProjects\LogBuffer\.idea\.idea.LogBuffer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
